<%= content_for :page_title, 'About' %>
<article>
  <header>
    <h1>About</h1>
  </header>

  <div class="content">
    <p>The <a href="http://www.bahaidate.today/bahai-calendar/" title="About the Bahá’í Calendar">Bahá’í calendar</a>, also called the Badí‘ calendar (badí‘ means wondrous or unique), was created by the founders of the Bahá’í Faith in the 1800s. In <a href="http://universalhouseofjustice.bahai.org/activities-bahai-community/20140710_001" title="Letter dated 10 July 2014, To the Bahá’ís of the World">a letter dated 10 July 2014</a> the international governing council of the Bahá’í Faith, the Universal House of Justice, called upon the Bahá’ís of the East and West to adopt “<em>the provisions that will unite them in the common implementation of the Badí‘ calendar.</em>”</p>

    <p>They conclude their letter:</p>

    <blockquote>
      <p>“The adoption of a new calendar in each dispensation is a symbol of the power of Divine Revelation to reshape human perception of material, social, and spiritual reality. Through it, sacred moments are distinguished, humanity’s place in time and space reimagined, and the rhythm of life recast. Next Naw-Rúz will mark yet another historic step in the manifestation of the unity of the people of Bahá and the unfoldment of Bahá’u’lláh’s World Order.”</p>
    </blockquote>
    <hr>

    <p>This site was created to contribute to the common adoption of the calendar. Every day, we release a simple post showing the date today, including:</p>

    <ul>
      <li>the day of the week: there are seven days and the week starts on Saturday</li>

      <li>the day of the month: there are nineteen days in each month and each day of the month has its own name. These names happen to be the same as the names of the months of the year.</li>

      <li>the name of the month: there are nineteen months.</li>

      <li>the year: the year is the number of years since the start of the calendar in 1844.</li>
    </ul>

    <p>The post will also show if there is a Feast or Holy day either today or coming up tomorrow. Bear in mind that the Bahá’í day starts at sunset.</p>

    <p>We hope that by checking these posts often, you can gradually memorize the names of the days and months and begin to integrate the calendar into your life. If you like us on Facebook, you’ll receive notifications when there is a post. To receive a notification every day, click “Get Notifications” under the Liked button:</p>

    <p><img alt="notifications" class="aligncenter" height="168" src="<%= image_url('notifications.png') %>" width="368"></p>

    <p>You can also subscribe to receive an email every time there is a post by entering your email address in the space provided at the top of the site, and clicking Subscribe. You will receive a confirmatory email which you will need to click a link on, to validate your email address, and then you will receive posts daily.</p>
    <hr>

    <p>Please note that this is an individual initiative and is not affiliated with Bahá’í institutions. Also, we cannot guarantee the accuracy of the content. Please let us know if you notice any errors, or have any suggestions. &nbsp;We hope you find this site helpful. &nbsp;Please feel free to share it with your Bahá’í friends.</p>

    <p>To get in touch with us email <strong>contact</strong>&nbsp;at&nbsp;<strong>bahaidate.today</strong> or use the form below:</p>

    <form action="contact-form" class="contact-form" method="post">
      <div>
        <label class="field-label name" for="name">Name<span>(required)</span></label> <input class="name" id="name" name="name" type="text" value="today">
      </div>

      <div>
        <label class="field-label email" for="email">Email<span>(required)</span></label> <input class="email" id="email" name="email" type="email" value="admin@bahaidate.today">
      </div>

      <div>
        <label class="field-label textarea" for="comment">Comment<span>(required)</span></label> 
        <textarea id="comment" name="comment" rows="20"></textarea>
      </div>

      <p><input class="pushbutton-wide" type="submit" value="Submit »"></p>
    </form>
  </div>
</article>
