<% content_for :title, 'Table of Dates' %>
<% content_for :active, 'table-of-dates' %>

<h3>Table of Dates</h3>

<p>The following table is generated using this software: <a href="https://github.com/lessan/bahai-date" target="_blank">https://github.com/lessan/bahai-date</a>, which uses algorithms from a book called <em>Astronomical Algorithms</em> that is often used for such calculations on computer systems.</p>

<p>We make no guarantee for the accuracy of this information &#8211; it is simply an attempt at determining these dates using widely available information.</p>

<table id="table-of-dates">
  <thead>
    <tr class="bold_under">
      <th colspan="2">Naw-Rúz</th>
      <th colspan="2">The Birth of the Báb<br />and The Birth of Bahá’u’lláh</th>
      <th colspan="2">Ayyám-i-Há</th>
    </tr>
    <tr class="line_under">
      <th>Bahá’í<br />Dates</th>
      <th>Gregorian<br />Equivalent</th>
      <th>Bahá’í<br />Dates</th>
      <th>Gregorian<br />Equivalent</th>
      <th>Bahá’í<br />Dates</th>
      <th>Gregorian<br />Equivalent</th>
    </tr>
    </thead>
  <% for year in @start_year..@end_year %>
  <tr>
    <%= year_row(year) %>
  </tr>
  <% end %>
</table>
